* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#009cff, #115b69);
    height: 100vh;
}

.welcome {
    position: relative;
    height: 30vh;
    overflow: hidden;
    font-family: sans-serif;
}

.background h1 {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    z-index: 1;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    width: 80%;
}

/*.background ul li {*/
/*    position: absolute;*/
/*    border: 1px solid #fff;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    list-style: none;*/
/*    opacity: 0;*/
/*    background-color: #fff;*/
/*}*/

/*.background .squere li {*/
/*    top: 50vh;*/
/*    left: 45vw;*/
/*    animation: squere 10s linear infinite;*/
/*}*/

/*.background .squere li:nth-child(2) {*/
/*    top: 80vh;*/
/*    left: 10vw;*/
/*    animation-delay: 2s;*/
/*}*/

/*.background .squere li:nth-child(3) {*/
/*    top: 80vh;*/
/*    left: 85vw;*/
/*    animation-delay: 4s;*/
/*}*/

/*.background .squere li:nth-child(4) {*/
/*    top: 10vh;*/
/*    left: 70vw;*/
/*    animation-delay: 6s;*/
/*}*/

/*.background .squere li:nth-child(5) {*/
/*    top: 10vh;*/
/*    left: 10vw;*/
/*    animation-delay: 8s;*/
/*}*/

/*@keyframes squere {*/
/*    0% {*/
/*        transform: scale(0) rotateY(0deg);*/
/*        opacity: 1;*/
/*    }*/
/*    100% {*/
/*        transform: scale(5) rotateY(1000deg);*/
/*        opacity: 0;*/
/*    }*/
/*}*/

/*.background .circle li {*/
/*    bottom: 0;*/
/*    left: 15vw;*/
/*    animation: circle 10s linear infinite;*/
/*}*/

/*.background .circle li:nth-child(2) {*/
/*    left: 35vw;*/
/*    animation-delay: 2s;*/
/*}*/

/*.background .circle li:nth-child(3) {*/
/*    left: 55vw;*/
/*    animation-delay: 4s;*/
/*}*/

/*.background .circle li:nth-child(4) {*/
/*    left: 75vw;*/
/*    animation-delay: 6s;*/
/*}*/

/*.background .circle li:nth-child(5) {*/
/*    left: 90vw;*/
/*    animation-delay: 8s;*/
/*}*/

/*@keyframes circle {*/
/*    0% {*/
/*        transform: scale(0) rotate(0deg);*/
/*        opacity: 1;*/
/*        bottom: 0;*/
/*        border-radius: 0;*/
/*    }*/
/*    100% {*/
/*        transform: scale(5) rotate(1000deg);*/
/*        opacity: 0;*/
/*        bottom: 90vw;*/
/*        border-radius: 50%;*/
/*    }*/
/*}*/

.tabs {
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 60px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
    width: 80% !important;
    margin-left: 10%;

    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.tab-titles {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 60%;

    flex: 0 0 20%;
    display: flex;
    flex-flow: row wrap;
    margin-left: 0;
    padding-top: 60px;
}

.tab-titles h4 {
    display: inline;
}

.tab-title {
    /*border-right: 1px solid #ccc;*/
    text-align: center;
    cursor: pointer;
    flex: 1;
    /*background: rgba(0, 0, 0, 0);*/
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    transition: 300ms;
}

.tab-title h4 {
    transition: 300ms;
    font-size: 22px;
}

.tab-title:hover h4 {
    color: #ebe8e8;
}

.tab-title h4 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: 0;
    color: #eed8d8;
}

.tab-title:last-child {
    border-right: none;
}

.tab-title.active h4 {
    color: #ffffff;
}

.tab-content {
    min-height: 50vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 0 0 80%;
    align-items: flex-start;
    padding: 0;
}

.tab-pane {
    display: none;
    flex-flow: row wrap;
    justify-content: center;
}

.tab-pane.active {
    display: flex !important;
    height: 340px;
    flex-flow: row wrap;
    align-content: space-between;
}

.tab-pane:nth-child(4).active {
    height: 390px;
}

.tab-pane h2 {
    flex: 0 0 100%;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.square-container {
    position: relative;
    width: 150px;
    height: 150px;
}

.square-container a {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-transform: capitalize;
    font-size: 18px;
    text-decoration: none;
    transition: 300ms;
}

.square-container a:hover {
    color: #cccccc;
}

.square-container .square {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /*border: 4px solid #00ffcc;*/
    animation: expandContract 3s ease-in-out infinite;
    transform-origin: center;
    box-shadow: 0 0 15px #00ffcc, 0 0 30px #00ffcc;
}

.square-container .square:nth-child(2) {
    animation-delay: 0.5s;
    border-color: #ff00cc;
    box-shadow: 0 0 15px #ff00cc, 0 0 30px #ff00cc;
}

.square-container .square:nth-child(3) {
    animation-delay: 1s;
    border-color: #ccff00;
    box-shadow: 0 0 15px #ccff00, 0 0 30px #ccff00;
}

.square-container .square:nth-child(4) {
    animation-delay: 1.5s;
    border-color: #ffcc00;
    box-shadow: 0 0 15px #ffcc00, 0 0 30px #ffcc00;
}

@keyframes expandContract {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

.tab-content .describe {
    flex: 0 0 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    margin-top: 40px;
    /*padding: 120px 2% 20px;*/

}

/*.tab-content .describe-first,*/
/*.tab-content .describe-second,*/
/*.tab-content .describe-first,*/
/*.tab-content .describe-first{*/
/*    opacity: 0;*/
/*    transition: opacity 2s ease-in-out;*/
/*}*/

/*.tab-content .describe-first.fade-in,*/
/*.tab-content .describe-second.fade-in{*/
/*    opacity: 1;*/
/*}*/

.tab-content .describe p {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #fff;
    margin-bottom: 6px;
    flex: 0 0 100%;
    font-size: 14px;
}

.tab-content .describe p:last-of-type {
    margin-bottom: 0;
}

.neon-sign {
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99, 0 0 20px #00ff99, 0 0 40px #00ff99;
    animation: flicker 2.5s infinite;
}

@keyframes flicker {
    0% {
        opacity: 1;
        text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99, 0 0 20px #00ff99, 0 0 40px #00ff99;
    }
    50% {
        opacity: 0.8;
        text-shadow: none;
    }
    60% {
        opacity: 1;
        text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99, 0 0 20px #00ff99, 0 0 40px #00ff99;
    }
    70% {
        opacity: 0.5;
        text-shadow: none;
    }
    80% {
        opacity: 1;
        text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99, 0 0 20px #00ff99, 0 0 40px #00ff99;
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99, 0 0 20px #00ff99, 0 0 40px #00ff99;
    }

}

pre {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    padding: 32px;
    background-color: #151718;
    color: #cdcdcd;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    margin: 0 !important;
    width: 240px;
}

code {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
}

pre {

}

i, b, u, em, strong {
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    color: #55b5db;
}

em {
    color: #a070c4;
}

strong {
    color: #9fca56;
}

u {
    color: #eeeeee;
}

s {
    color: #666666;
    text-decoration: none;
}

#codeBlock .lineOfCode {
    animation: typingEffect 1800ms steps(14, end) forwards 1000ms, createAnim 500ms steps(2, end) 0s infinite;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: auto;
    border-right: 2px solid #fff;
    display: flow;
}

#codeBlock .lineOfCode:nth-child(2) {
    height: 0;
    animation-delay: 3100ms;
}

#codeBlock .lineOfCode:nth-child(3) {
    height: 0;
    animation-delay: 5200ms;
}

@keyframes typingEffect {
    0% {
        border-width: 2px;
    }

    5% {
        width: 0;
        height: auto;
        border-width: 2px;
    }

    93% {
        border-width: 2px;
    }

    100% {
        width: 180px;
        height: auto;
        border-width: 0;
    }
}

@keyframes createAnim {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: #ffffff;
    }
    100% {
        border-color: transparent;
    }
}

@keyframes describe {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.describe-first {
    animation: describe 1.5s;
    animation-delay: 7000ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.describe-second, .describe-third, .describe-fourth {
    animation: describe 1.5s;
    animation-delay: 2000ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #61dafb;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin-bottom: 20px;
}

.loading-text {
    display: flex;
    color: #cdcdcd;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 36px;
}

.loading-text span {
    opacity: 0;
    animation: typing 1s forwards;
}

.loading-text span:nth-child(1) {
    animation-delay: 0s;
}

.loading-text span:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-text span:nth-child(3) {
    animation-delay: 0.4s;
}

.loading-text span:nth-child(4) {
    animation-delay: 0.6s;
}

.loading-text span:nth-child(5) {
    animation-delay: 0.8s;
}

.dots {
    display: inline-block;
    margin-left: 5px;
}

.dots span {
    animation: blink 1s infinite steps(1, end);
    opacity: 0;
}

.dots span:nth-child(1) {
    animation-delay: 0s;
}

.dots span:nth-child(2) {
    animation-delay: 0.3s;
}

.dots span:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes typing {
    to {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

@media only screen and (max-width: 991px) {
    .tab-title::before {
        content: attr(data-tab-short);
        display: inline;
        color: #cdcdcd;
    }

    .tab-title.active::before{
        color: #fff;
    }

    .tab-titles {
        flex: 0 0 100%;
        padding: 0;
        margin-bottom: 18px;
        transition: color 0.3s ease, background-color 0.3s ease;
    }

    .tab-content {
        flex: 0 0 100%;
    }

    .tab-title.active {
        color: white;
    }

    .tab-pane h2 {
        margin-bottom: 20px;
    }

    .tab-content .describe {
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    .welcome {
        height: 30vh;
    }

    .background h1 {
        font-size: 28px;
    }

    .background .squere li:nth-child(3) {
        left: 70vw;
        top: 40vh;
    }

    .background .circle li:nth-child(4) {
        left: 60vw;
    }

    .background .circle li:nth-child(5) {
        left: 40vw;
    }

    .tab-titles h4 {
        display: none;
    }

    .tabs-holder {
        padding: 0 13px;
    }

    .square-container {
        margin: 60px 0;
    }
}

@media only screen and (max-width: 575px) {
    body{
        height: auto;
    }
    .background h1 {
        font-size: 24px;
    }

    .tab-pane h2{
        font-size: 20px;
    }

    .tab-pane:nth-child(4).active{
        height: 400px;
    }
}